* {
  color:#212121;
}
/*CSS Section Portada*/
header {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
  height: 100vh;
}
hr {
  width: 7%;
}
#portada .skill{
  display: flex;
  align-items: center;
  height: 100vh;
}
/*CSS Section POrtfolio*/
.center h3, h5{
	text-transform: uppercase;
}
.first-row{
	margin-bottom: 0 !important;
}
